extends layout

block content
  section#intro.intro-section.text-center
    .container
      .row
        .col-lg-12
          img.img-responsive.img-circle.img-centered(src="img/profile.png")
          .intro-text.text-uppercase
            span.name.title="Hi, I'm Sachin"
            hr.star-light
            span.details
              span.dev="Developer"
              span=" - "
              span.geek="Tech geek"
              span=" - "
              span.car="car enthusiast"
              span=" - "
              span.gamer="avid Gamer"
      .row.social-row
        .col-lg-12
          ul.list-inline.social
              li
                a(href="https://twitter.com/sazap10")
                  i.fa.fa-fw.fa-twitter.fa-3x
              li
                a(href="https://uk.linkedin.com/in/spande92")
                  i.fa.fa-fw.fa-linkedin.fa-3x
              li
                a(href="https://github.com/sazap10")
                  i.fa.fa-fw.fa-github.fa-3x

  section#about.about-section.text-center
    .container
      .row
        .col-lg-12
          h1.text-uppercase.title="About me"
          hr.star-about
      .row
        .col-lg-12
          p.about= "I am a software engineer who is passionate about learning whether that be new languages, frameworks or tools. Some of my spare time is spent either getting engrossed in a sci-fi novel or playing video games (RPG games are my favourite). I enjoy playing and watching sports like are cricket, football and badminton however I do enjoy watching most sports."

  section#contact.contact-section
    .container
      .row.text-center
        .col-lg-12
          h1.text-uppercase.title="Contact Me"
          hr.star-light
      .row
        .col-lg-8.col-lg-offset-2
          form#contactForm(name="sentMessage" novalidate="")
            .row.control-group
              .form-group.col-xs-12.floating-label-form-group.controls
                label Name
                input#name.form-control(type="text" placeholder="Name" required="" data-validation-required-message="Please enter your name.")
                p.help-block.text-danger
            .row.control-group
              .form-group.col-xs-12.floating-label-form-group.controls
                label Email Address
                input#email.form-control(type="email" placeholder="Email Address" required="" data-validation-required-message="Please enter your email address.")
                p.help-block.text-danger
            .row.control-group
              .form-group.col-xs-12.floating-label-form-group.controls
                label Message
                textarea#message.form-control(rows="5" placeholder="Message" required="" data-validation-required-message="Please enter a message.")
                p.help-block.text-danger
            br
            #success
            .row
              .form-group.col-xs-12
                button.btn.btn-form.btn-lg(type="submit") Send
                


