extends layout

block content
  .welcome.center-block 
    h1.text-uppercase= "Hi I'm Sachin"
    h2.text-uppercase
      span.dev="Developer"
      span=", "
      span.geek="Tech geek"
      span=" and "
      span.gamer="avid Gamer"
  //content goes here

